
/*body*/

body {
  display: flex;
  flex-direction:column;
  line-height: 1.3;
}
/*navbar beginning*/
main {
  display: flex;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  margin-top: 1%;
}

h1{
  font-size: 200%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 360px;
}

li{
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }

/*about me*/

aside img {
  display:block;
 border-radius: 50%;
 margin:auto;
 max-width: 100%;

}

aside .image-container{
display:flex;
justify-content: center;
align-items: center;
min-height: 100vh;


}
aside{

  background-color: #b9c6ae;
  padding: 10px;
  width:20%
  

}

aside h1 {
  text-align: center;
}
aside p{
  text-align:auto;
}

/*projects*/


section img {

  display:block;
  margin:auto;
  

}
.projects{
  margin: auto;
  width:70%
}

.projects h1{

text-align: center;
;
}

.item {
  border-style:double;
  border-width: 1px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 10px 10px 5px #716969;
  margin: 70px;
  
 
}

.item header {
  background-color: #b9c6ae;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:  30px;;
}

.item  p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item  img {
  width: 95%;
  height:fit-content;
  hi
}

.item:hover{
  color:rgb(117, 48, 48);
  box-shadow: 0 0 20px #c2f2c2;
  cursor:pointer;
}

/*footer*/
footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  margin-left: 0%;
}

footer ul{

display:flex;
justify-content: space-between;
min-width: 10px;
}

footer ul li {

display:inline-block;
list-style: none;
margin: 0px 20px;

}
  
 

  
